body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
.container {
  min-width: 1000px !important;
  max-width: 1000px !important;
}

.jumbotron {
    padding: 1rem 1rem;
}
.jumbotron .row {
    margin-bottom: -6px;
}

header.jumbotron {
  background: url("../image/topimage.jpg");
  background-position: left left;
  background-size: cover;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.login {
    margin-top: -50px;
    padding-bottom: 40px;
    text-align: right;
}

h1 {
    display: inline;
}


.base {
    height: 250px;
}

.card-img-top {
    text-align: center;
     max-height: 187;
    width: auto;
 }
 .card-body{
    height: 187px;
 }
table {
  width: 100%;
  table-layout: fixed;
}
table td{
    overflow-wrap : break-word;
}
table td pre {
    white-space: pre-wrap ;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    margin-bottom: 2px;
}

#footer {
    text-align: center;
    margin-top: auto;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}





