@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
    color: #333333;

    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}
.container {
  min-width: 1000px !important;
  max-width: 1000px !important;
}

.jumbotron {
    padding: 1rem 1rem;
}
.jumbotron .row {
    margin-bottom: -6px;
}

header.jumbotron {
  background: url("../image/anitopimage.jpg");
  background-position: left left;
  background-size: cover;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.zoo-header {
    margin-bottom: -10px;
}

.login {
    margin-top: -40px;
    padding-bottom: 40px;
    text-align: right;
    margin-right: -25px;
}

.menus {
    margin-right: -15px;
}
.menu {
    background: linear-gradient(0deg, lightseagreen, turquoise);
}

 h1 {
    display: inline;
}

.title-info {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: rgb(130, 207, 240);/*背景色*/
  border-left: solid 5px rgb(0, 128, 192);/*左線（実線 太さ 色）*/
}

.title {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #ffecd9;/*背景色*/
  border-left: solid 5px #ff8080;/*左線（実線 太さ 色）*/
  background: -moz-linear-gradient(left, #FFC778, #FFF);
  background: -webkit-linear-gradient(left, #FFC778, #FFF);
  background: linear-gradient(to right, #FFC778, #FFF);}

.title-introduce {
    font-size:2em;
    line-height:0.95em;
    font-weight:bold;
    color: transparent;
font-family: 'M PLUS Rounded 1c', sans-serif;
    text-shadow :
        0 0 0.1em rgba(255,255,255,0.05),
        0.01em 0.04em 0.03em rgba(255,255,255,0.4);
    -webkit-background-clip : text;
}

.card-body{
    height: 140px;
 }

.card-footer {
 line-height: 1.1rem;
}


table {
  width: 100%;
  table-layout: fixed;
}
table td{
    overflow-wrap : break-word;
}
table td pre {
    white-space: pre-wrap ;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    margin-bottom: 2px;
}

#footer {
    text-align: center;
    margin-top: auto;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

.custom-select {
    margin-left : 15px;

}

.custom-file {
    margin-left : 15px;
}

/* ここからチャット画面 */
.chat {
    max-height: 400px;
    overflow: scroll;
}

.message-icon{
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.message-text{
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}
/* ここまでチャット画面 */
